@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --padding: 20px;
    --mainBG: linear-gradient(103deg, #000000 -14.54%, #151124 99.76%);
}

ul {
    list-style-type: none;
}